pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.2
pygam==0.9.1
requests==2.32.3
beautifulsoup4==4.12.3
ruff==0.6.5
virtualenv==20.28.0
gunicorn==23.0.0
Flask==3.1.0
python-dotenv==1.0.1
boto3==1.35.76
awscliv2==2.3.1
pytest==7.4.0
locust==2.32.4
kagglehub==0.3.4
